{% extends 'base.html' %}

{% block contents %}

<br><br>
<center><center/>
<br><br>

<div class="card text-center" style="width: 50rem;">
  <div class="card-body">
    <h5 class="card-title">{{ blog.title }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ blog.pub_date }}</h6>
    <p class="card-text">{{ blog.body }}</p>
  </div>
</div>

<br><br>

<button type="button" class="btn btn-success">
<a href="#" style="color: white">update</a><button/>

<button type="button" class="btn btn-danger">
<a href="#" style="color: white">delete</a><button/>

{% endblock %}