{% extends 'base.html' %}

{% block contents %}

    <br><br>
    <center>여기는 blog_list 페이지 입니당 :)<center/>
    <br><br>

    {% for post in posts %}
        <div class="card" style="width: 50rem;">
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ post.hash_tag }}</li>
            </ul>
            <p class="card-text">{{ post.summary }}</p>
            <a href="{% url "read_blog_detail" post.id %}" class="btn btn-outline-dark">More</a>
          </div>
        </div>

        <hr><hr>
    {% endfor %}

    {% if posts.has_previous %}
    <a href="?page=1"><<</a>
    <a href="?page={{ posts.previous_page_number }}"><</a>
    {% endif %}

    <span>{{ posts.number }}</span>
    <span>/</span>
    <span>{{ posts.paginator.num_pages }}</span>

    {% if posts.has_next %}
    <a href="?page={{ posts.next_page_number }}">></a>
    <a href="?page={{ posts.paginator.num_pages }}">>></a>
    {% endif %}

    <br><br>
    <button type="button" class="btn btn-warning">
    <a href="{% url 'blog_new' %}" style="color: black">새글작성</a></button>

{% endblock %}